@font-face {
  font-family: Gar;
  src: url("../fonts/GARA.TTF");
}
@font-face {
  font-family: Garit;
  src: url("../fonts/GARAIT.TTF");
}
@font-face {
  font-family: Garbold;
  src: url("../fonts/GARABD.TTF");
}

body {
  padding: 0;
  margin: 0;
  font-family: Gar;
  background-color:	#dcc1a7 ;
}

* {
  box-sizing: border-box;
}

