.maincontainer{
  display: flex;
  height: 100vh;
  align-items: center;
}
.imgContainer{
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo{
  width: 40%;
}

.separator{
  height: 95vh;
  width: 1px;
 background: black;
 margin: 3px;
}
.rightcontainer{
  padding-left: 20px;
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#maintitle{
  font-size: 6rem;
  margin: 0;
}

#secondtitle{
  font-size: 3rem;
}

.button{
  background: none;
  border: 1px solid black;
  width: 150px;
  height: 40px;
  font-family: Garit;
  font-size: 1.5rem;
  padding: 3px;
  margin: 5px;
  
}

.button:hover{
  cursor: pointer;
  transform: scale(1.1);
}
#signin{
  border:1px dashed black
}


